.footer{
    position: relative;
    display: block;
    height: 5%;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 0%, #EDEDED 100%);
    bottom: 0px;
    left: 0px;
    user-select: none;
}
.footer p{
    color: #636363;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
#contact{
    position: absolute;
    bottom: 36px;
    right: 55px;
    z-index: 5;
    opacity: 1;
    filter: invert(52%) sepia(96%) saturate(0%) hue-rotate(266deg) brightness(98%) contrast(91%);
    cursor: pointer;
    user-select: none;
}
#fb{
    position: absolute;
    bottom: 35px;
    right: 28px;
    z-index: 5;
    opacity: 1;
    filter: invert(52%) sepia(96%) saturate(0%) hue-rotate(266deg) brightness(98%) contrast(91%);
    cursor: pointer;
    user-select: none;
}
#ig{
    position: absolute;
    bottom: 35px;
    right: 5px;
    z-index: 5;
    opacity: 1;
    filter: invert(52%) sepia(96%) saturate(0%) hue-rotate(266deg) brightness(98%) contrast(91%);
    cursor: pointer;
    user-select: none;
}