.index{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 95%;
    justify-content: center;
    align-items: center;
}
.indexText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    margin-bottom: 30px;
    line-height: 150%;
    transform: scale(1.5);
    transform-origin: center;
}
.whyToolsbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.bi-question-octagon{
    margin-left: 5px;
}
.why{
    display: block;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all 0.5s;
    white-space: nowrap;
}
.what{
    display: block;
    position: relative;
    transition: all 0.5s;
    white-space: nowrap;
    user-select: none;
}
.hideWhat{
    opacity: 0 !important;
    visibility: hidden !important;
}
.showWhy{
    opacity: 1 !important;
    visibility: visible !important;
}
.cubic{
    display: block;
}
