.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    box-shadow: 0px 5px 5px #9a9a9a;
    background-color: #ffffff;
}
.logo{
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 15px;
    cursor: pointer;
    user-select: none;
    margin-right: auto;
}
.logoText{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    user-select: none;
}
.logo p{
    font-size: 32px;
    font-weight: 800;
}

.locale{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.otherLanguageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -125px;
    left: 33px;
    background: linear-gradient(to bottom, transparent 0%, transparent 5px, #ffffff 5px, #ffffff 100%);
    box-shadow: 0px 5px 8px #9a9a9a; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
    padding: 9px;
}
.showOtherLanguageContainer{
    opacity: 1;
    visibility: visible;
}
.selectedLanguage{
    margin: 5px;
}
.otherLanguage{
    padding: 15px;
    padding-right: 16px;
    padding-left: 16px;
    white-space: nowrap;
}
.otherLanguage:hover{
    text-shadow: 0px 0px 10px black;
}

.menu{
    font-weight: 500;
    color: black;
    z-index: 5;
    font-size: 16px;
    overflow: hidden;
}
.optionText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    user-select: none;
}
.menuSubOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    user-select: none;
}
.menuSubOption:hover{
    text-shadow: 0px 0px 21px black;
}
.subOptionText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.showMenu{
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0px) !important;
}
.license{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 0px;
    width: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.chevron{
    transition: all 0.5s ease-in-out;
}

.chevronRotate{
    transform: rotateX(180deg);
    transform-origin: center;
}


@media screen and (max-width: 3000px){
    .menuButton{
        display: none;
    }
    .menuClose{
        display: none !important;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;
    }
    .menuOptionContainer{
        width: fit-content;
        cursor: pointer;
        padding: 0px;
    }
    .menuOption{
        padding: 10px;
        margin-left: 20px;
        transition: all 0.5s;
    }
    .menuOption svg{
        margin-right: 3px;
    }
    .bi-arrow-left-right{
        transform: translateX(-1px);
    }
    .bi-terminal-split{
        transform: translate(-1px, 1px);
    }
    .menuOptionHover{
        text-shadow: -10px 0px 21px black;
    }
    .optionExpand{
        display: none;
    }
    .menuSubOptionContainer{
        position: fixed;
        top: 60px;
        right: 0px;
        width: 30%;
        height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: flex-start;
        flex-wrap: wrap;
        box-shadow: -10px 10px 20px #636363;
        transition: all 0.5s;
        overflow: hidden;
        background: linear-gradient(to bottom, transparent 0%, transparent 5px, white 5px, white 100%);
    }
    .menuSubOption{
        margin-top: 30px;
        margin-left: 60px;;
        height: fit-content;
        width: fit-content;
    }
    .showDesktopSubOption{
        height: calc(100% - 60px) !important;
        opacity: 1;
        visibility: visible;
    }
    .closeContainer{
        width: 0px;
    }
}
@media screen and (max-width: 768px){
    .menuButton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        white-space: nowrap;
    }
    .menuButton:hover{
        background-color: #EFEFEF;
        transition: all 0.5s
    }
    .menuClose{
        display: flex !important;
    }
    .menuOptionContainer{
        height: fit-content;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        position: relative;
    }
    .menuOption{
        height: 40px;
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 10px;
    }
    .menuOption:hover{
        text-shadow: none;
    }
    .menu{
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 50%;
        display: block;
        margin-right: 0px;
        background-color: #ffffff;
        box-shadow: -1px 0px 2px #9a9a9a;
        opacity: 0;
        visibility: hidden;
        transition: all 0.8s;
        transform: translateX(100%);
        overflow: scroll;
    }
    .optionText{
        margin-left: 3px;
    }
    .optionExpand{
        display: block;
        margin-right: 15px;
    }
    .menuSubOptionContainer{
        width: 100%;
        height: 0px;
        overflow: scroll;
        opacity: 0;
        visibility: hidden;
        display: block;
        position: relative;
        top: 0px;
        box-shadow: none;
        transition: all 0.5s;
    }
    .menuSubOption{
        height: 40px;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .menuSubOption:hover{
        text-shadow: 0px 0px 10px #636363;
    }
    .showMobileSubOption{
        opacity: 1;
        visibility: visible;
    }
    .optionExpand{
        transition: all 0.5s;
    }
}
